* {
  box-sizing: border-box;
}

.shopping-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 1200px;
  margin: 1.5rem auto;
  padding: 1.5rem;
  border: solid 1px var(--border-subtle);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--bg-surface, #fff);
}

.product-card-shopping {
  flex: 0 1 calc(33.333% - 24px);
  min-width: 250px;
  max-width: 320px;
  padding: 1.2rem 0;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
 
}

.product-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card-shopping:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.input-checkbox {
  display: none;
}
/* Card quando estiver marcado */
.product-card-shopping.picked {
  opacity: 0.6;
  border: 1px solid var(--border-focus);
}

/* Riscando o texto do item */
.product-card-shopping.picked .item-name {
  text-decoration: line-through;
  color: #9ca3af;
}

/* Alterando a etiqueta do ::before para o estado pego */
.product-card-shopping.picked::before {
  content: "Item Pego";
  background-color: var(--bg-main, #143626);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  border-radius: 0 7px 0 7px;
}

.product-card-shopping::before {
  content: "Pegar";
  background-color: var(--bg-main, #143626);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  border-radius: 0 7px 0 7px;
}

.title-container {
  display: flex;
  align-items: flex-start;
}
.product-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.product-unity {
  font-size: 0.85rem;
  color: #4b5563;
  margin-bottom: 12px;
  flex-grow: 1;
}

.unity-price {
  margin-top: 1px;
  color: var(--text-muted);
  background-color: var(--bg-subtle);
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.75rem;
}

.shopping-controls-row{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}


@media (min-width: 768px) {

   .shopping-section-container{
    width: 50%;
} 
  .product-card-shopping {
    min-width: 75% !important;
    
  }

  .controls-row{
    justify-content: space-around;
}
  .label {
    font-size: 0.75rem;
    color: var(--text-muted);
  }

  .unity-price {
    margin-top: 1px;

    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
  }

  .quantity-box {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: 0.5px solid #ccc;
  }

  .quantity {
    
    font-size: 15px;
    
  }

  .action-btn {
    font-size: 15px;
  }


}
